.CoffeeContainer {
    display: flex;
    justify-content: center;
    height: 990px;
}

.CoffeeContents {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    width: 75.5vw;
    height: 800px;

    .content{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        
        .img{
            margin: 30px;
            width: 220px;
            height: 220px;
        }
    
        
    }
}
    