.CoffeeContainer {
    display: flex;
    justify-content: center;
    height: auto;

    margin-top: 30px;
    margin-bottom: 100px;
}

.CoffeeContents {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    width: 75.5vw;
    height: auto;

    .content{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        
        .img{
            margin: 30px;
            width: 220px;
            height: 220px;

            &:hover {
                -ms-transform: scale(1.1);
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
                transition: all 0.3s ease-in-out;
                cursor: pointer;
             }
        }
    
        
    }
}
    